<?php

if (!class_exists('\Symfony\Component\ClassLoader\UniversalClassLoader')) {
    require_once __DIR__ . '/vendor/Symfony/Component/ClassLoader/UniversalClassLoader.php';
}

$loader = new \Symfony\Component\ClassLoader\UniversalClassLoader();
$loader->registerNamespaces(array(
    'EmailReplyParser'          => __DIR__ . '/src',
    'EmailReplyParser\Tests'    => __DIR__ . '/tests',
));
$loader->register();
